.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  padding: 60px 0;
}

.label {
  font-weight: 500;
  font-size: 22px;
  color: #333;
  letter-spacing: 0.02em;

  margin-right: 22px;
}

Form {
  display: flex;
  align-items: center;
  justify-content: center;
}
